@model HomeSchool.Models.Course

@{
    ViewBag.Title = "Szczegóły zajęcia";
}

<h2 style="color: white;">Szczegóły zajęcia</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="color: white;">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.CourseID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-secondary" })
</p>
